
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper_MarkupCompile.lref
PlugInWebScraper/.vs/PlugInWebScraper/v15/.suo
PlugInWebScraper/.vs/PlugInWebScraper/v15/.suo
PlugInWebScraper/.vs/PlugInWebScraper/v15/Server/sqlite3/storage.ide
PlugInWebScraper/PlugInWebScraper/bin/Debug/PlugInWebScraper.exe
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper_MarkupCompile.cache
*.cache
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper_MarkupCompile.lref
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper.pdb
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper.pdb
PlugInWebScraper/.vs/PlugInWebScraper/v15/.suo
SamplePlugins/ALBMEPlugIn/obj/Debug/ALBMEPlugIn.csproj.CoreCompileInputs.cache
PlugInWebScraper/.vs/PlugInWebScraper/v15/.suo
PlugInWebScraper/.vs/PlugInWebScraper/v15/Server/sqlite3/storage.ide
PlugInWebScraper/PlugInWebScraper/bin/Debug/ABCpdf.xml
PlugInWebScraper/PlugInWebScraper/bin/Debug/PlugInWebScraper.exe
PlugInWebScraper/PlugInWebScraper/bin/Debug/PlugInWebScraper.pdb
PlugInWebScraper/PlugInWebScraper/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PlugInWebScraper/PlugInWebScraper/obj/Debug/GeneratedInternalTypeHelper.g.cs
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper.csproj.CoreCompileInputs.cache
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper.csproj.FileListAbsolute.txt
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper.csprojResolveAssemblyReference.cache
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper.exe
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper.pdb
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper_MarkupCompile.cache
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper_MarkupCompile.lref
SamplePlugins/ALBMEPlugIn/.vs/ALBMEPlugIn/v15/.suo
SamplePlugins/ALBMEPlugIn/obj/Debug/ALBMEPlugIn.csproj.CoreCompileInputs.cache
SamplePlugins/ALBMEPlugIn/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PlugInWebScraper/.vs/PlugInWebScraper/v15/.suo
PlugInWebScraper/.vs/PlugInWebScraper/v15/.suo
PlugInWebScraper/.vs/PlugInWebScraper/v15/.suo
PlugInWebScraper/.vs/PlugInWebScraper/v15/.suo
PlugInWebScraper/.vs/PlugInWebScraper/v15/Server/sqlite3/storage.ide
*.ide
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper.csproj.CoreCompileInputs.cache
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper.csproj.FileListAbsolute.txt
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper.csprojResolveAssemblyReference.cache
PlugInWebScraper/PlugInWebScraper/obj/Debug/PlugInWebScraper.exe
